/* Variables */

:root{
    --primary: #38444F;
    --secondary: #B9D6F2;
    --dark: #000000;
    --light: #ffffff;
    --danger: #E63946;
    --success: #06D6A0;
    --warning: #FFC43D;
    --info: #17a2b8;
}

/* Main */


body{
    font-family: 'Funnel Sans', sans-serif;
    background-color: #e4e8ec;
}

.container{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.box{
    padding: 2rem;
    margin-bottom: 1.5rem;
    background-color: var(--light);
    border-radius: 0px;
    box-shadow: 0px 2px 4px -1px rgba(45,55,72,0.1);

    font-size: 0.875rem;
}

.box a.sponsor-logo {
    display: block;
}

.box img{
    max-width: 100%;      /* ensure it doesn't exceed the container width */
    max-height: 150px;    /* cap the height at 250px */
    width: auto;          /* auto width to preserve aspect ratio */
    height: auto;         /* auto height to preserve aspect ratio */
}

.box img.event{
    max-height: 250px;
}


footer{
    padding: 30px;
    margin-top: 3rem;
    text-align: center;
    background-color: var(--primary);
    color: var(--light);

    text-decoration: none;
}

/* Buttons */

.btn-primary{
    color: var(--light) !important;
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-primary:hover{
    background-color: #646c74 !important;
}

.btn-outline-primary{
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-outline-primary:hover{
    color: var(--light) !important;
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

/* Links */

a{
    color: var(--primary);
}

a:hover{
    color: #90370f;
}

/* Headings */

h1{
    color: var(--primary);
    /*text-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);*/
    font-weight: 500;
    font-size: 4rem;

    margin-top: 1rem;
    margin-bottom: 0 !important;
}

h2{
    font-weight: bold;
    font-size: 1.5rem;
}

h2.subtitle{
    color: var(--light);
}

h2.small{
    font-size: 0.875rem;
    font-weight: bold;
}

h3{
    font-size: 1rem;
    margin-top: 2rem;
}

h4{
    font-size: 0.875rem;
    font-weight: bold;
}

/* Custom */

#hero{
    height: 19.5em;

    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 33%;

    text-align: center;
    padding-top: 2rem;
}

#hero p{
    color: var(--primary);
    margin-top: .5rem !important;
}

#hero img{
    max-height: 75px;
}

.lastupdate{
    font-size: 0.75rem;
    color: #535a60;
}

.agenda-flex{
    display: flex;
    justify-content: space-between;
}

.agenda{
    width: 33.3%;
}

.agenda ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mt-3{
    margin-top: 3rem;
}

/* Responsiveness */

/* Phones and small */
@media (max-width: 767.98px) { 

    h1{
        color: var(--light);
        font-size: 2rem;
        padding-top: 2rem;
    }

    #hero{
        height: 10em;
    }

    #hero img, #hero p{
        display: none;
    }

}

/* Old small shitphones */
@media (max-width: 320px) { 
    #hero{
        height: 10vh;
        padding-top: 3vh;
    }

    h1{
        font-size: 1.5rem;
        color: var(--light);
    }
}
