---
import Layout from "../layout/Layout.astro";
import HeroButton from "../components/ui/HeroButton.astro";
import CardBox from "../components/ui/CardBox.astro";
import CardButton from "../components/ui/CardButton.astro";
import Sponsors from "../components/ui/Sponsors.astro";

---

<Layout SiteTitle="Flight Level">

    <div class="relative w-full h-[500px] overflow-hidden">
        <video
            class="w-full h-[500px]"
            src="/video/banner.mp4"
            autoplay
            muted
            loop
            playsinline
            style="object-fit: cover"
        />
        <div class="absolute inset-0 bg-primary opacity-40"></div>
        <div class="absolute inset-0 flex items-center justify-center p-4">
            <div class="max-w-[900px] w-full flex flex-col items-center text-center font-bold p-8">
                <h1 class="text-white text-4xl md:text-6xl drop-shadow-xl">
                    Join us for Norway Live 2025
                </h1>
                <p class="text-secondary text-[29.5px] p-2 text-center w-full md:w-3/5 lg:w-full drop-shadow-xl font-medium">
                    Our yearly event for flight simulator enthusiasts in Norway!
                </p>
                <div class="w-[800px] mt-8 flex gap-4 justify-center">
                    <HeroButton href="/norway-live-2025/lan" text="LAN-Party" color="text-primary bg-secondary" />
                    <HeroButton href="/norway-live-2025/expo" text="Free Mini-Expo" color="text-primary bg-secondary" />
                </div>
            </div>
        </div>
    </div>

    <main class="w-[1300px] h-full flex flex-col items-center bg-[#e4e8ec]">
        <h2 class="text-primary text-2xl md:text-5xl mt-12 mb-12 font-bold">Made possible with</h2>
        <Sponsors />
    </main>
</Layout>
