---
import CardButton from "../components/ui/CardButton.astro"
import CardBox from "../components/ui/CardBox.astro"
import Link from "../components/ui/Link.astro"
import CardSponsors from "../components/ui/CardSponsors.astro"
import PageContainer from "../components/ui/PageContainer.astro"
import Sponsors from "../components/ui/Sponsors.astro";
---

<PageContainer SiteTitle="Sponsoring" Heading="Sponsoring" SubHeading="Norway Live 2025">

    <div class="w-full h-fit flex justify-center" id="bookings">
        <div class="max-w-[1300px] w-full content-center pt-6 pb-6">
            <div class="flex max-xl:flex-wrap gap-8 max-sm:px-0 max-xl:px-8">
                <div class="width-main flex flex-col gap-8">
                    <CardBox title="Event Details">
                        <p class="text-base mb-4">
                            📍 House of Nerds, <Link href="https://maps.app.goo.gl/CjrVuYnguQuNfygz9" target="_blank">Vulkan 18, 0178 Oslo</Link><br>
                            🗓️ 25-27 April 2025
                        </p>
                        <p class="mb-4">
                            <b>Organized by Flight Level Norge</b><br>
                            Norwegian-registered non-profit organization<br>
                            Organization Number: 935 068 487
                        </p>

                        <CardButton href="mailto:sponsor@flightlevel.no">Contact us</CardBox>

                    </CardBox>

                    <CardBox title="Background">
                        <!-- What is Norway Live 2025 -->
                        <h3 class="mb-2 font-bold">✈️ What Is Norway Live?</h3>
                        <ul class="list-disc pl-5 space-y-1 mb-8">
                            <li>A three-day flight simulation event centered on <strong>VATSIM</strong> (Virtual Air Traffic Simulation Network).</li>
                            <li>Experience <strong>live</strong> air traffic control and piloting—just like the real world!</li>
                            <li>Watch it all on Twitch, reaching aviation &amp; gaming fans worldwide.</li>
                            <li>This year, we’re moving to a more <strong>interactive</strong> and <strong>public</strong> venue, creating a flight simulation exposure where visitors can meet sponsors and attendees.</li>
                        </ul>

                        <div class="flex flex-wrap gap-2">
                            <img src="../img/event/1.jpg" class="max-w-full h-auto max-h-[220px] mt-1 mb-1" alt="Norway Live 2025 event">
                            <img src="../img/event/2.jpg" class="max-w-full h-auto max-h-[220px] mt-1 mb-1" alt="Norway Live 2025 event">
                            <img src="../img/event/3.jpg" class="max-w-full h-auto max-h-[220px] mt-1 mb-1" alt="Norway Live 2025 event">
                        </div>

                        <!-- What is VATSIM? -->
                        <h3 class="mt-8 mb-2 font-bold">🌍 What Is VATSIM?</h3>
                        <ul class="list-disc pl-5 space-y-1 mb-4">
                            <li><a href="https://vatsim.net" target="_blank">VATSIM (Virtual Air Traffic Simulation Network)</a> is a global, non-profit network that connects aviation enthusiasts worldwide. On VATSIM, users can either fly virtual aircraft as pilots or act as virtual air traffic controllers, creating a realistic simulation experience.</li>
                            <li>The network provides real-time communication between pilots and controllers, following procedures and radio terminology closely resembling real-world aviation.</li>
                            <li>The network has 170,000+ members and about 1,500 online pilots and virtual controllers at any time (2024)</li>
                        </ul>

                        <!-- Why Become a Sponsor -->
                        <h3 class="mt-8 mb-2 font-bold">🤔 Why Become a Sponsor?</h3>
                        <ul class="list-disc pl-5 space-y-1 mb-4">
                            <li>Reach a <strong>niche, highly engaged</strong> audience passionate about aviation, gaming, and simulation tech.</li>
                            <li>Expect flight sim fans, VATSIM pilots/controllers, content creators, and curious newcomers.</li>
                            <li>Showcase your <strong>brand</strong> to potential customers at the event and via our digital channels.</li>
                        </ul>
                    </CardBox>

                    <CardBox title="Sponsorship Opportunities">

                        <!-- Let's Work Together -->
                        <h3 class="mb-2 font-bold">🤝 Let’s Work Together!</h3>
                        <p class="mb-4">
                            We’d love to partner with brands looking to connect with aviation geeks, gamers, and flight sim
                            enthusiasts. If you’re interested in sponsoring, providing demo gear, or collaborating in any other way,
                            <strong>reach out</strong> and let’s make Norway Live 2025 an unforgettable experience for everyone!
                        </p>

                        <h3 class="mb-2 font-bold">🔷 Main Sponsor</h4>
                        <ul class="list-disc pl-5 space-y-1 mb-4">
                            <li>Exclusive headline branding across event materials, website, and Twitch stream.</li>
                            <li><strong>Priority access</strong> to our demo station (showcase your equipment in action!).</li>
                            <li>On-site presence (banners, stands, promotional material—provided by you).</li>
                        </ul>

                        <h3 class="mt-8 mb-2 font-bold">🔷 Event Partners</h4>
                        <ul class="list-disc pl-5 space-y-1 mb-4">
                            <li>Perfect if you provide <strong>hardware, software, or services</strong> for use during the event.</li>
                            <li>Logo featured on our website and social media.</li>
                            <li>Mentions during livestreams (depending on contribution level).</li>
                        </ul>

                        <h3 class="mt-8 mb-2 font-bold">🔷 Giveaways &amp; Promotions</h4>
                        <ul class="list-disc pl-5 space-y-1 mb-4">
                            <li>Contribute products or digital content for <strong>event &amp; Twitch giveaways</strong>.</li>
                            <li>The more valuable the contribution, the bigger the <strong>promotion</strong> you’ll receive.</li>
                        </ul>

                        <!-- How We Promote Our Sponsors -->
                        <h3 class="mb-4 mt-8 mb-2 font-bold">How We Promote Our Sponsors</h3>
                        <ul class="list-disc pl-5 space-y-1 mb-4">
                            <li><strong>Website &amp; Social Media</strong> – Featured logos &amp; mentions in event promotions.</li>
                            <li><strong>Livestream Integration</strong> – Sponsor shoutouts and product showcases on Twitch.</li>
                            <li><strong>On-Site Branding</strong> – Bring your own banners, demo stations &amp; promo materials.</li>
                        </ul>

                        <CardButton href="mailto:sponsor@flightlevel.no">Contact us</CardBox>

                    </CardBox>
                </div>
                    
                <div class="flex-grow flex flex-col gap-8 width-sidebar">
                    <CardBox title="Our 2025 Sponsors">
                        <a href="https://komplett.no/" target="_blank">
                            <img
                                src="/img/sponsors/komplett.svg"
                                alt="Komplett"
                                class="max-w-full max-h-20 h-auto mb-10"
                            />
                        </a>
                        <a href="https://www.scandichotels.no/" target="_blank">
                            <img
                                src="/img/sponsors/scandic.png"
                                alt="Scandic Hotels"
                                class="max-w-full max-h-20 h-auto mb-10"
                            />
                        </a>
                        <a href="https://avinor.no/" target="_blank">
                            <img
                                src="/img/sponsors/avinor.svg"
                                alt="Avinor"
                                class="max-w-full max-h-20 h-auto mb-10"
                            />
                        </a>
                        <a href="https://www.coca-cola.com/no/no" target="_blank">
                            <img
                                src="/img/sponsors/cola.png"
                                alt="Coca-Cola"
                                class="max-w-full max-h-20 h-auto mb-10"
                            />
                        </a>
                        <a href="https://houseofnerds.no/" target="_blank">
                            <img
                                src="/img/sponsors/hon.svg"
                                alt="House of Nerds"
                                class="max-w-full max-h-20 h-auto mb-10"
                            />
                        </a>
                        <a href="https://norskluftambulanse.no/" target="_blank">
                            <img
                                src="/img/sponsors/nla.png"
                                alt="Norsk Luftambulanse"
                                class="max-w-full max-h-20 h-auto mb-10"
                            />
                        </a>
                        <a href="https://eu.winwingsim.com/view/index.html" target="_blank">
                            <img
                                src="/img/sponsors/winwing.svg"
                                alt="Winwing"
                                class="max-w-full max-h-20 h-auto mb-10"
                            />
                        </a>
                        <a href="https://skalarki-electronics.com/" target="_blank">
                            <img
                                src="/img/sponsors/skalarki.svg"
                                alt="Skalarki Electronics"
                                class="max-w-full max-h-20 h-auto mb-10"
                            />
                        </a>
                        <a href="https://www.playevent.no/" target="_blank">
                            <img
                                src="/img/sponsors/playevent.png"
                                alt="PlayEvent"
                                class="max-w-full max-h-20 h-auto mb-10"
                            />
                        </a>
                        <a href="https://flightsimulationsnorway.no/" target="_blank">
                            <img
                                src="/img/sponsors/fsn.png"
                                alt="Flight Simulations Norway"
                                class="max-w-full max-h-20 h-auto mb-10"
                            />
                        </a>
                        <a href="https://www.pilotflightacademy.com/" target="_blank">
                            <img
                                src="/img/sponsors/pfa.svg"
                                alt="Pilot Flight Academy"
                                class="max-w-full max-h-16 h-auto mb-10"
                            />
                        </a>
                        <a href="https://dakotanorway.no/" target="_blank">
                            <img
                                src="/img/sponsors/dakota.png"
                                alt="Dakota Norway"
                                class="max-w-full max-h-16 h-auto mb-10"
                            />
                        </a>
                        <a href="https://inibuilds.com/" target="_blank">
                            <img
                                src="/img/sponsors/iniBuilds.png"
                                alt="iniBuilds"
                                class="max-w-full max-h-20 h-auto mb-10"
                            />
                        </a>
                        <a href="https://navigraph.com/" target="_blank">
                            <img
                                src="/img/sponsors/navigraph.svg"
                                alt="Navigraph"
                                class="max-w-full max-h-20 h-auto mb-10"
                            />
                        </a>
                        <a href="https://orbxdirect.com/" target="_blank">
                            <img
                                src="/img/sponsors/orbx-gold.png"
                                alt="Orbx"
                                class="max-w-full max-h-14 h-auto mb-10"
                            />
                        </a>
                        <a href="https://fenixsim.com/" target="_blank">
                            <img
                                src="/img/sponsors/fenix.png"
                                alt="Fenix Simulations"
                                class="max-w-full max-h-20 h-auto mb-10"
                            />
                        </a>
                        <a href="https://vatsim.net" target="_blank">
                            <img
                                src="/img/sponsors/vatsim.png"
                                alt="VATSIM"
                                class="max-w-full max-h-14 h-auto mb-10"
                            />
                        </a>
                        <a href="https://vatsim-scandinavia.org" target="_blank">
                            <img
                                src="/img/vatsca-logo-positive.svg"
                                alt="VATSIM Scandinavia"
                                class="max-w-full max-h-20 h-auto mb-10"
                            />
                        </a>
                        <a href="https://www.osloflyklubb.org/" target="_blank">
                            <img
                                src="/img/sponsors/ofk.svg"
                                alt="Oslo Flyklubb"
                                class="max-w-full max-h-20 h-auto mb-10"
                            />
                        </a>
                        <a href="https://kjellersportsflyklubb.no/" target="_blank">
                            <img
                                src="/img/sponsors/ksk.png"
                                alt="Kjeller Sportsflyklubb"
                                class="max-w-full max-h-20 h-auto mb-10"
                            />
                        </a>
                        <a href="https://mathallenoslo.no/butikk/pizzeria-vino-la-famiglia/" target="_blank">
                            <img
                                src="/img/sponsors/lafamiglia.png"
                                alt="La Famiglia"
                                class="max-w-full max-h-20 h-auto mb-10"
                            />
                        </a>
                        <a href="https://beleven.no/" target="_blank">
                            <img
                                src="/img/sponsors/beleven.svg"
                                alt="Beleven"
                                class="max-w-full max-h-20 h-auto mb-10"
                            />
                        </a>
                    </CardBox>
                </div>
            </div>                    
        </div>
    </div>
</PageContainer>