<footer class="w-full p-[30px] mt-12 text-center bg-primary text-white no-underline">
    <img
        src="img/Negative.svg"
        class="h-[65px] block mx-auto"
        alt="Flight Level Norge logo"
    />
    <div class="pt-3">
        Norwegian-registered non-profit organization<br />
        Organization Number: 935 068 487
    </div>
</footer>
