---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import Navigation from "./Navigation";
import { DiscordIcon } from "./icons/DiscordIcon";
import { YoutubeIcon } from "./icons/YoutubeIcon";
import { TwitchIcon } from "./icons/TwitchIcon";
import { FacebookIcon } from "./icons/FacebookIcon";
---

<header class="w-full h-[80px] flex justify-center sticky text-white bg-primary top-0 z-50 px-24 max-lg:px-8 py-2">
    <Astronav>
        <div class="w-[1300px] max-lg:w-[100%] flex flex-col lg:flex-row justify-between items-center">
            <div class="flex w-full lg:w-auto items-center justify-between">
                <a href="/">
                    <img width="150" src="/img/Negative.svg" alt="Flight Level logo">
                </a>
                <div class="block lg:hidden">
                    <MenuIcon class="w-8 h-8 text-gray-200" />
                </div>
            </div>
            <MenuItems class="hidden w-full px-8 lg:w-auto lg:flex lg:mt-0 text-xl max-lg:p-0 max-lg:w-[100vw]">
                <div class="flex flex-col lg:flex-row lg:gap-3 items-center max-lg:bg-secondary max-lg:p-8">
                    <Navigation client:visible/>
                </div>
            </MenuItems>
            <div class="hidden lg:block">
                <a href="https://discord.flightlevel.no" target="_blank" class="hover:text-accent" aria-label="Discord">
                    <DiscordIcon width="2rem"/>
                </a>

                <a href="https://www.youtube.com/@flightlevelnorge" target="_blank" class="hover:text-accent" aria-label="Youtube">
                    <YoutubeIcon width="2rem" marginLeft="0.5rem"/>
                </a>

                <a href="https://www.twitch.tv/flightlevelnorge" target="_blank" class="hover:text-accent" aria-label="Twitch">
                    <TwitchIcon width="1.5rem" marginLeft="0.5rem"/>
                </a>

                <a href="https://www.facebook.com/flightlevelnorge" target="_blank" class="hover:text-accent" aria-label="Facebook">
                    <FacebookIcon width="1.5rem" marginLeft="0.5rem"/>
                </a>
            </div>
        </div>
    </Astronav>
</header>