---
import CardButton from "../../components/ui/CardButton.astro"
import CardBox from "../../components/ui/CardBox.astro"
import Link from "../../components/ui/Link.astro"
import CardSponsors from "../../components/ui/CardSponsors.astro"
import PageContainer from "../../components/ui/PageContainer.astro"
---

<PageContainer SiteTitle="Pilot" Heading="Pilot Information" SubHeading="Norway Live 2025">

    <div class="w-full h-fit flex justify-center" id="bookings">
        <div class="max-w-[1300px] w-full content-center pt-6 pb-6">
            <div class="flex max-xl:flex-wrap gap-8 max-sm:px-0 max-xl:px-8">
                <div class="width-main flex flex-col gap-8">
                    <CardBox title="Join us XXth of April">
                        <p class="mb-4">🔥 Get ready to experience the thrill of flying in one of the most beautiful regions in the world when VATSIM Scandinavia again will arrange Norway Live 2025!</p>
                        <p class="mb-4">🕐 This incredible event offers a XX-hour opportunity to explore the entire Norwegian airspace, with professional air traffic control (ATC) coverage provided by a team of experienced controllers.</p>
                        <p class="mb-4">🎁 Whether you're a seasoned pilot or just starting out, Norway Live promises to be an unforgettable experience. One of the unique features of Norway Live is the chance to win amazing prizes from our generous sponsors.</p>
                        <p class="mb-4">✈️ So what are you waiting for? Mark your calendars for the next Norway Live event and get ready to immerse yourself in the breath-taking scenery of Norway while enjoying the thrill of flying with ATC support. Whether you're looking to sharpen your piloting skills or simply want to have fun, Norway Live is the perfect event for aviation enthusiasts of all levels.</p>
                    </CardBox>

                    <CardBox title="Flight Suggestions">
                        <p>Do you need some inspiration on where to fly to or from? Check out <Link href="https://where2fly.today/&utm_source=norwaylive2025" target="_blank">Where2Fly</Link>, an amazing service created by one of our developers. Here you can specify your criteria like aircraft type, airlines and more - then receive suggestions for your flight.</p>
                    </CardBox>

                    <CardBox title="Available Stands">
                        <p>It's probably going to be quite packed at our airports, we recommend checking which stands are available at <Link href="https://stands.vatsim-scandinavia.org/" target="_blank">stands.vatsim-scandinavia.org</Link> to avoid spawning on top of someone else.</p>
                    </CardBox>

                    <CardBox title="Raffle Winners 🎉">
                        <p>Winners will be announced here 12-24 hours after the deadline.</p>
                    </CardBox>

                    <CardSponsors />
                </div>
                    
                <div class="flex-grow flex flex-col gap-8 width-sidebar">
                    <CardBox title="Links">
                        <CardButton external="true" secondary="true" href="https://wiki.vatsim-scandinavia.org/books/norwegian-airports-charts">📄 Pilot Briefing for Norway</CardButton>
                        <CardButton external="true" secondary="true" href="https://vatsim-scandinavia.org/events/event/1301-norway-live-12-hours-of-norway/">📅 VATSIM Event Details (update link)</CardButton>
                        <CardButton external="true" secondary="true" href="https://www.twitch.tv/vatsimscandinavia">📺 Twitch Stream</CardButton>
                    </CardBox>

                    <CardBox title="Giveaway Raffle">
                        <p class="mb-4">
                            This raffle is sponsored by <Link href="https://fenixsim.com/" target="_blank">Fenix Simulations</Link> and 
                            <Link href="https://inibuilds.com" target="_blank">iniBuilds</Link> with the following prizes available:
                        </p>
    
                        <ul class="mb-4">
                            <li>1x <Link href="https://fenixsim.com/a320/" target="_blank">Fenix A320</Link><span class="text-info">*</span></li>
                            <li>2x <Link href="https://inibuilds.com/pages/iniscenery" target="_blank">iniBuilds scenery</Link> of choice</li>
                        </ul>
    
                        <p class="mb-4">
                            To join the raffle, you need to acquire tickets.
                            You get a ticket for each completed flight that departs or arrives in a Norwegian aerodrome.
                            The more tickets you have, meaning the more airports you've flown to or from in Norway, the higher your winning chance is.
                        </p>
    
                        <p class="mb-4">This raffle will only be available XXth April between XX:00-XX:00z. The winner will be announced on this page within 12-24 hours after the end.</p>
    
                        <b class="mb-4">Raffle rules</b>
                        <ol class="list-decimal pl-5 space-y-1 mb-4">
                            <li>
                                You must register each separate flight in the ticket registration form below to get your raffle ticket
                            </li>
                            <li>
                                You must fly online on VATSIM at 1x speed with a flight plan
                            </li>
                            <li>
                                The flight must depart or arrive at a Norwegian aerodrome
                            </li>
                            <li>
                                The flight must take place DAY XXth April between XX:00z and XX:00z
                            </li>
                            <li>
                                The flight can not have a Cross the Pond destination airport this day
                            </li>
                            <li>
                                The distance between departure and arrival aerodrome shall be at least 50 NM apart
                            </li>
                            <li>
                                You need to have landed at the arrival aerodrome
                            </li>
                            <li>
                                The winner has to reply to our email within 48 hours to acquire the prize
                            </li>
                            <li>
                                Any attempts to cheat the system will result in disqualification and loss of tickets
                            </li>
                        </ol>
    
                        <p class="mb-4">
                            <i class="text-info small">* = New license only, no refunds to existing are given</i><br>
                        </p>
                        
                        <b>Ticket registration button will be available here when raffle starts.</b>
                        <!--<CardButton external="true" href="https://forms.gle/JNa4rZm6d6KUa3Vg9">Register your ticket</CardButton> -->
                    </CardBox>
                </div>
            </div>                    
        </div>
    </div>
</PageContainer>