---
const { href, text, external } = Astro.props;
---

<a
    href={href}
    target={external ? "_blank" : undefined}
    class="bg-primary p-3 text-center text-white hover:bg-[#61778b] d-block inline-block mt-2 text-base rounded-sm"
>
    {text}
</a>
