---
const { href, text } = Astro.props;
---

<a href={href} class={`bg-primary p-3 text-center text-white hover:bg-[#61778b] d-block inline-block mt-2 text-sm rounded-sm`} target="_blank">
    {text}
</a>
