<div class="flex flex-wrap justify-between gap-8 mt-4">
    <a href="https://houseofnerds.no/" target="_blank" class="w-1/2 md:w-1/3 lg:w-1/4 flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/hon.png"
            alt="House of Nerds"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://komplett.no/" target="_blank" class="w-1/2 md:w-1/3 lg:w-1/4 flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/komplett.svg"
            alt="Komplett"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://flightsimulationsnorway.no/" target="_blank" class="w-1/2 md:w-1/3 lg:w-1/4 flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/fsn.png"
            alt="Flight Simulations Norway"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://inibuilds.com/" target="_blank" class="w-1/2 md:w-1/3 lg:w-1/4 flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/iniBuilds.png"
            alt="iniBuilds"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://norskluftambulanse.no/" target="_blank" class="w-1/2 md:w-1/3 lg:w-1/4 flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/nla.png"
            alt="Norsk Luftambulanse"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://www.scandichotels.no/" target="_blank" class="w-1/2 md:w-1/3 lg:w-1/4 flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/scandic.png"
            alt="Scandic Hotels"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://www.playevent.no/" target="_blank" class="w-1/2 md:w-1/3 lg:w-1/4 flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/playevent.png"
            alt="PlayEvent"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://fenixsim.com/" target="_blank" class="w-1/2 md:w-1/3 lg:w-1/4 flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/fenix.png"
            alt="Fenix Simulations"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://www.coca-cola.com/no/no" target="_blank" class="w-1/2 md:w-1/3 lg:w-1/4 flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/cola.png"
            alt="Coca-Cola"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://mathallenoslo.no/butikk/pizzeria-vino-la-famiglia/" target="_blank" class="w-1/2 md:w-1/3 lg:w-1/4 flex items-center justify-center">
        <img
            src="/img/sponsors/lafamiglia.png"
            alt="La Famiglia"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
</div>