<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-16 md:gap-8 mt-4 p-8 lg:p-0">
    <a href="https://houseofnerds.no/" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/hon.svg"
            alt="House of Nerds"
            class="max-w-full max-h-14 h-auto object-contain"
        />
    </a>
    <a href="https://komplett.no/" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/komplett.svg"
            alt="Komplett"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://avinor.no/" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/avinor.svg"
            alt="Avinor"
            class="max-w-full max-h-14 h-auto object-contain"
        />
    </a>
    <a href="https://flightsimulationsnorway.no/" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/fsn.png"
            alt="Flight Simulations Norway"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://www.scandichotels.no/" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/scandic.png"
            alt="Scandic Hotels"
            class="max-w-full max-h-12 h-auto object-contain"
        />
    </a>
    <a href="https://www.coca-cola.com/no/no" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/cola.png"
            alt="Coca-Cola"
            class="max-w-full max-h-14 h-auto object-contain"
        />
    </a>
    <a href="https://norskluftambulanse.no/" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/nla.png"
            alt="Norsk Luftambulanse"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://www.playevent.no/" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/playevent.png"
            alt="PlayEvent"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://eu.winwingsim.com/view/index.html" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/winwing.svg"
            alt="Winwing"
            class="max-w-full max-h-10 h-auto object-contain"
        />
    </a>
    <a href="https://skalarki-electronics.com/" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/skalarki.svg"
            alt="Skalarki Electronics"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://fenixsim.com/" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/fenix.png"
            alt="Fenix Simulations"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://orbxdirect.com/" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/orbx-gold.png"
            alt="Orbx"
            class="max-w-full max-h-14 h-auto object-contain"
        />
    </a>
    <a href="https://inibuilds.com/" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/iniBuilds.png"
            alt="iniBuilds"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://www.pilotflightacademy.com/" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/pfa.svg"
            alt="Pilot Flight Academy"
            class="max-w-full max-h-16 h-auto object-contain"
        />
    </a>
    <a href="https://vatsim.net/" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/vatsim.png"
            alt="VATSIM"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://vatsim-scandinavia.org" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/vatsca-logo-positive.svg"
            alt="VATSIM Scandinavia"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://www.osloflyklubb.org/" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/ofk.svg"
            alt="Oslo Flyklubb"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://navigraph.com/" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/navigraph.svg"
            alt="Navigraph"
            class="max-w-full max-h-16 h-auto object-contain"
        />
    </a>
    <a href="https://kjellersportsflyklubb.no/" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/ksk.png"
            alt="Kjeller Sportsflyklubb"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://mathallenoslo.no/butikk/pizzeria-vino-la-famiglia/" target="_blank" class="flex items-center justify-center">
        <img
            src="/img/sponsors/lafamiglia.png"
            alt="La Famiglia"
            class="max-w-full max-h-20 h-auto object-contain"
        />
    </a>
    <a href="https://beleven.no/" target="_blank" class="flex items-center justify-center mb-4">
        <img
            src="/img/sponsors/beleven.svg"
            alt="Beleven"
            class="max-w-full max-h-8 h-auto object-contain"
        />
    </a>
</div>